body{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
}

.flexible-container{
    display: flex;
}

#first-section{
    margin: 30px 100px 30px 100px;
}

.half-width{
    width: 50%;
}
#mean-img{
    width: 100%;
}

#skip{
    color:blue
}
.link-btn{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(to right, blue,#4747e7cb);
    padding : 10px 20px;
    border-radius: 20px;
    margin-top: 100px;
}

#female-img{
    width: 100%;
}
#second-section{
    background-image: url(img/bg_img/2.jpg);
    background-repeat: no-repeat;
    padding-top: 80px;
}
#about-me{
    padding:150px;
}

#my-recipies{
    width: 40%;
    margin-left: 40%;
}

.food-item{
    display: flex;
    width: 50%;
}
.food-item img{
    width:100%;
}